// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Materials Override
.mdc-linear-progress__bar-inner {
  border-color: var(--accent-color) !important;
}

.mdc-linear-progress__buffer-bar {
  background-color: var(--primary-color) !important;
}

// Variables
:root {
  --primary-color: #2D3250;
  --secondary-color: #424769;
  --highlight-dark-color: #5C6281;
  --highlight-color: #7077A1;
  --accent-color: #F6B17A;
  --text-color: #E9E3DF;

  --mat-progress-bar-track-height: 30px;
  --mat-progress-bar-active-indicator-height: 30px;
}


// Page Container Grid Layout
.page-container {
  display: grid;
  grid-template-columns: 8vw 1fr 1fr; // left + 2 right columns
  grid-template-rows: 5vh 1fr 40%; // top fixed + two flexible rows
  height: 100vh;

  >div {
    margin: 0.5rem;
    padding: 0.75rem;
    box-sizing: border-box;
    background-color: var(--secondary-color);
  }

  // Left column spans all rows
  > :nth-child(1) {
    grid-row: 1 / span 3;
    grid-column: 1;
    border-radius: 4vw;
  }

  // Top row spans full width on the right
  > :nth-child(2) {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: unset;
    padding: 0;
  }

  // Middle left + right
  > :nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    border-radius: 1rem;
  }

  > :nth-child(4) {
    grid-row: 2;
    grid-column: 3;
    border-radius: 1rem;
  }

  // Bottom full width
  > :nth-child(5) {
    grid-row: 3;
    grid-column: 2 / span 2;
    border-radius: 1rem;
    padding: 0;
  }
}

// Button Styles
button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

button:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

// Table Styles
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--highlight-color);
  table-layout: fixed;
}

th {
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
  color: var(--primary-color);
  border-right: 1px solid black;
}

th:last-child {
  border-right: none;
}

td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  border: 1px solid black;
}

.light-row td {
  background-color: var(--highlight-color);
}

.dark-row td {
  background-color: var(--highlight-dark-color);
}

// Text Colors
.red-text {
  color: red;
}

.green-text {
  color: green
}

html,
body {
  height: 100%;
}